In [1]:
import pandas as pd

from bs4 import BeautifulSoup
import requests

In [2]:
def get_source(url):
    response = requests.get(url, timeout=5)
    print( response )
    source= BeautifulSoup(response.content, "html.parser")
    return source

def get_links(url):
    html = requests.get(url).content
    bsObj = BeautifulSoup(html, 'lxml')

    links = bsObj.findAll('a')
    
    setLinks = set()
    for link in links:
        url= link.attrs['href']
        if url[-1] == '/': url= url[:-1]
        setLinks.add(url)
    
    validlink= []
    for setLink in setLinks:
        if "http://" in setLink: 
            validlink.append(setLink)
    
    return validlink

def extract_texts(tag):
    contents= soup.find_all(tag)
    texts=[]
    for content in contents:
        texts.append(  content.get_text() )
    return texts

# get all urls

In [3]:
url ='http://18.218.59.9'
soup= get_source(url)

links= get_links(url)
links

<Response [200]>

['http://18.218.59.9/contact',
 'http://18.218.59.9',
 'http://18.218.59.9/services',
 'http://18.218.59.9/about']

#  services page sparse

In [4]:
url = 'http://18.218.59.9/services'
soup= get_source(url)

<Response [200]>

In [5]:
price= extract_texts('h1')
price

['$ 25 per class', '$ 40 per class', '$ 35 per class']

In [6]:
name= extract_texts('h3')
name

['\nChildren class\n', '\nArgentine Tango\n', '\nBaley\n']

In [7]:
p= extract_texts('p')
summary= p[1:]
summary

['Creativity & Technique classes explore movement and build on skills necessary for continued study in dance. The Artistry & Performance track provides continued study in various dance forms while preparing students for annual performances.',
 'Argentine Tango consists of a variety of styles that developed in different regions and eras, and in response to the crowding of the venue and even the fashions in clothing. Even though they all developed in Argentina and Uruguay, they were also exposed to influences imported from Europe and North America. ',
 'Creativity & Technique classes explore movement and build on skills necessary for continued study in dance. The Artistry & Performance track provides continued study in various dance forms while preparing students for annual performances.']

In [8]:
d = {'name':name,'summary':summary,'price':price}
df= pd.DataFrame(d)
df

,name,summary,price
0,\nChildren class\n,Creativity & Technique classes explore movemen...,$ 25 per class
1,\nArgentine Tango\n,Argentine Tango consists of a variety of style...,$ 40 per class
2,\nBaley\n,Creativity & Technique classes explore movemen...,$ 35 per class

In [9]:
df['name'] = df['name'] .replace('\n', '' , regex=True)
df

,name,summary,price
0,Children class,Creativity & Technique classes explore movemen...,$ 25 per class
1,Argentine Tango,Argentine Tango consists of a variety of style...,$ 40 per class
2,Baley,Creativity & Technique classes explore movemen...,$ 35 per class

In [10]:
df['price'] = df['price'].replace('per class', '' , regex=True)
df

              name                                            summary  price
0   Children class  Creativity & Technique classes explore movemen...  $ 25
1  Argentine Tango  Argentine Tango consists of a variety of style...  $ 40
2            Baley  Creativity & Technique classes explore movemen...  $ 35

In [11]:
df.to_csv('class.csv')