In [3]:
import pandas as pd
df = pd.read_csv('class.csv', index_col=0)
df

              name                                            summary  price
0   Children class  Creativity & Technique classes explore movemen...  $ 25
1  Argentine Tango  Argentine Tango consists of a variety of style...  $ 40
2            Baley  Creativity & Technique classes explore movemen...  $ 35